/* Style the navbar */
#navbar {
  overflow: hidden;
}

/*SETUP AND Z-INDEX*/
/*-------------------------------------------------------------------------*/
body {
    font-family: "Rational Text", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EDF5FC;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-weight: 600;
}

li {
    color: #adb8c9;
}

.animation-container,
.spacer-container {
    height: 100vh;
}

.spacer-container.h-200 {
    height: 200vh;
}

.spacer-container.h-300 {
    height: 300vh;
}

.spacer-container.h-400 {
    height: 440vh;
}

.spacer-container.h-500 {
    height: 500vh;
}

#hero-container2 {
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: top center;
/*    height: 1278px;*/
}

/* Colors */
.lblue {
    color: #9dd1ff;
}

.blue {
    color: #1a80ff;
}

.nblue {
    color: #4F5F6C;
}

.dblue {
    color: #00216E;
}

.white {
    color: #fff;
}
/* End Colors */

#anim1-container {
    z-index: 20;
}
#scene1-pin {
    z-index: 30;
}
#scene2-pin {
    z-index: -10;
}
#panels-container {
    z-index: 2200;
}
#hero-container2 {
    z-index: -5;
}

.pinned-element {
    position: absolute;
}


/*INTRO // HERO*/
/*-------------------------------------------------------------------------*/
.hero {
    background-image: url('../img/bg-image.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100% auto;

}

#oGrid {
    width: 285px;
    margin-bottom: 50px;
}

.hero-container-header {
    padding-bottom: 50px;
}

.hero h1 {
    font-size: 60px;
    line-height: 56px;
    padding-left: 68px;
}

.hero h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 160px;
}

@media (max-width: 1440px) {
    
    #oGrid {
        margin-bottom: 120px;
    }

    .hero-container-header {
        padding-bottom: 120px;
    }

    .hero h1 {
        font-size: 60px;
        line-height: 56px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        padding-left: 160px;
    }
    
}

@media (max-width: 1280px) {
    
    #oGrid {
        margin-bottom: 80px;
    }

    .hero-container-header {
        padding-bottom: 80px;
    }

    .hero h1 {
        font-size: 52px;
        line-height: 50px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        padding-left: 146px;
    }
    
}

/* TABLET*/
/*
@media (max-width: 768px) {
    
    #oGrid {
        padding-bottom: 80px;
    }

    .hero-container-header {
        padding-bottom: 80px;
    }

    .hero h1 {
        font-size: 52px;
        line-height: 50px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        padding-left: 146px;
    }

}
*/

/* PHONE*/
@media (max-width: 680px) {

    #oGrid {
        padding-bottom: 80px;
    }

    .hero-container-header {
        padding-bottom: 420px;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 50px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        padding-left: 146px;
    }
}





/*SCROLLING TEXT
/*-------------------------------------------------------------------------*/
.service {
    padding-left: 140px;
}

.service h1 {
    font-size: 62px;
}

.today {
    padding-left: 10px;
    padding-right: 120px;
}

.today p {
    font-size: 24px;
    padding-bottom: 10%;
}

@media (max-width: 1440px) {
    .service {
        padding-left: 70px;
        padding-bottom: 30px;
    }

    .service h1 {
        font-size: 62px;
    }

    .today {
        padding-left: 20px;
        padding-right: 0px;
    }

    .today p {
        padding-bottom: 10%;
    }
}

@media (max-width: 1280px) {
    .service {
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .service h1 {
        font-size: 62px;
    }

    .today {
        padding-left: 30px;
        padding-right: 0px;
    }

    .today p {
        padding-bottom: 10%;
    }
}

/*TABLET
@media (max-width: 768px) {
    .service  { 
        margin-left: 5%;
    }
    .service h1 { 
        font-weight: 200;
    }
.today  { 
        margin-left: 8%;
    }
    .today p { 
        font-weight: 100;
    }
}
*/
 
/*PHONE*/
/*
@media (max-width: 680px) {
    .service {
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .service h1 {
        font-size: 30px;
    }

    .today {
        padding-left: 18px;
        padding-right: 0px;
    }

    .today p {
        padding-bottom: 10px;
    }
}
*/







#osrChart {
    width: 1360px;
/*    width: 50%;*/
}

#osr-container {
    padding-left: 216px;
    padding-top: 96px;
}

#panels {
    width: 623px;
}

#panels-container {
    padding-top: 200px;
    padding-left: 223px;
}

.slide-list-container {
    padding-left: 23px;
    padding-top: 0px;
}


@media (max-width: 1440px) {
    #osrChart {
        width: 1260px;
    }
    #osr-container {
        padding-left: 223px;
        padding-top: 146px;
    }
    #panels {
        width: 623px;
    }
    #panels-container {
        padding-top: 220px;
        padding-left: 192px;
    }
    .slide-list-container {
        padding-left: 23px;
        padding-top: 0px;
    }
}

@media (max-width: 1280px) {
    #osrChart {
        width: 1160px;
/*        width: 50%;*/
/*
        max-width: 100%;
        height: auto;
*/
    }
    #osr-container {
        padding-left: 266px;
        padding-top: 126px;
    }
    #panels {
        width: 582px;
    }
    #panels-container {
        padding-top: 216px;
        padding-left: 192px;
    }
    .slide-list-container {
        padding-left: 23px;
        padding-top: 0px;
    }
}

/*
@media (max-width: 768px) {
    #osrChart {
        width: 1360px;
    }
    #osr-padding {
        padding-left: 54px;
        padding-top: 46px;
    }
    #panels {
        width: 623px;
    }
    #panels-container {
        padding-top: 146px;
        padding-left: 223px;
    }
}

@media (max-width: 680px) {
    #osrChart {
        width: 1360px;
    }
    #osr-padding {
        padding-left: 54px;
        padding-top: 46px;
    }
    #panels {
        width: 623px;
    }
    #panels-container {
        padding-top: 146px;
        padding-left: 223px;
    }
}
*/





#oGrid2 {
    width: 1060px;
}

#oGrid2-padding {
    padding-left: 112px;
    padding-top: 80px;
    padding-bottom: 0px;
}

@media (max-width: 1440px) {
    #oGrid2 {
        width: 980px;
    }

    #oGrid2-padding {
        padding-left: 80px;
        padding-bottom: 32px;
    }
}

@media (max-width: 1280px) {
    #oGrid2 {
        width: 900px;
    }

    #oGrid2-padding {
        padding-left: 88px;
        padding-bottom: 0px;
        padding-top: 70px;
    }
}

/*
@media (max-width: 768px) {
    #oGrid2 {
        width: 980px;
    }

    #oGrid2-padding {
        padding-left: 0px;
        padding-bottom: 92px;
    }
}

@media (max-width: 680px) {
    #oGrid2 {
        width: 980px;
    }

    #oGrid2-padding {
        padding-left: 0px;
        padding-bottom: 92px;
    }
}
*/






.slide-list {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    list-style-type: none;
}

.slide-list a {
    color: #ADB8C9;
    text-decoration: none;
}

.slide-list a:hover{
    color: #424352;
    text-decoration: none;
}

.slide-list .active a {
    color: #424352;
    pointer-events: none;
    cursor: default;
}

.slide-list.white a {
    color: rgba(255, 255, 255, 0.5);
}

.slide-list.white a:hover {
    color: #ffffff;
}

.slide-list.white .active a {
    color: #ffffff;
}






#first_panel {
    padding-left: 346px;
}

#second_panel {
    padding-left: 346px;
}

#third_panel {
    margin-left: 00px;
}







/*-------------------------------------------------------------------------*/
.card-img {
    margin-top: 46px;
}

.card-img-overlay {
    padding-top: 92px;
}

#card-para {
    line-height: 22px;
    font-size: 14px;
    font-weight: 200;
    color: #8E8E96;
    background: white;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 40px;
    margin-top: -16px;
}

#card-h6 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: .8em;
    text-align: left;
/*    color: #424352;*/
/*    color: #2b2b2d;*/
    color: black;
    background: none;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -3px;
    padding-top: 42px;
    padding-left: 33px;
    padding-bottom: 10px;
}

#panel_1,
#panel_2,
#panel_3 {
    border-radius: 0;
    width: 320px;
    background-color: rgba(255, 255, 255, 1);
    background: none;
    margin-top: -70px;
}

#panel1-card-h3,
#panel2-card-h3,
#panel3-card-h3,
#panel1-card-h3-last,
#panel2-card-h3-last,
#panel3-card-h3-first,
#panel3-card-h3-second,
#panel3-card-h3-third {
    background: white;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 30px;
    font-weight: 300;
}

#panel3-card-h3-third {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -16px;
}


/*-------------------------------------------------------------------------*/
#scene4 {
    background: white;
}

#man-img {
  
}

#card-man {
    width: 460px;
}

#card-man h3 {
    color: #1A80FF;
    line-height: 32px;
    padding-bottom: 24px;
}

#card-man h6 {
    color:#4f5f6c;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding-bottom: 6px;
    font-weight: 200;
}

#card-man p {
    color:#4f5f6c;
    font-weight: 200;
    font-size: .85rem;
    line-height: 18px;
    padding-top: 8px;
    padding-bottom: 2px;
}

#card-man-p2 {
    margin-bottom: 12px;
}

#card-blockquote {
    font-family: "IBM Plex Mono", monospace;
/*    color:#4f5f6c;*/
    color: black;
    font-size: .6rem;
    font-weight: 200;
}

/*-------------------------------------------------------------------------*/
#sunring-bg {
    background-image: url('../img/endscreen46.png');
    background-color: #0f2146;
    background-repeat: no-repeat;
    background-position: right;
/*    background-size: auto;*/
    height: 600px;
}

#card-ebook-container {
/*    padding: 10px 30px 10px 30px;*/
}

#card-ebook {
    width: 460px;
    
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 14px;
    
/*    padding-right: 20px;*/
}

#card-ebook p {
    color: #4f5f6c;
    padding-right: 40px;
}

#card-ebook-h6 {
    font-size: 13px;
    font-weight: 300;
    padding-left: 2px;
    padding-bottom: 6px;
    color: #acaaa8;
}

#card-ebook-h3-1 {
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 0px;
    color:#0e1871;
    line-height: 34px;
}

#card-ebook-h3-2 {
    font-size: 1.9em;
    font-weight: 500;
    color: #1A80FF;
    padding-bottom: 12px;
}

#ebook-text-underline {
    font-family: "IBM Plex Mono", monospace;
    text-underline-position: auto;
    text-decoration: underline;
}





#endscreen {
    background-color: white;
}

#col2 {
    min-height: 400px;
}

#cta-img {
    max-width: 100%;
    height: auto;  
}

/*animate-card animate-card-on animate-card-man*/
.animate-card {
/*
    position: absolute;
    width: auto;
    height: 20px;
    position: absolute;
    z-index: 3;
*/
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1)
}

.animate-card-on {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px)
}

.animate-card-man {
    left: 18%;
    top: 50%;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}





/*
.home-page section.top img.ep {
    position: absolute;
    width: auto;
    height: 20px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1)
}

.home-page section.top img.ep._on {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px)
}

.home-page section.top img.ep_1 {
    left: 18%;
    top: 50%;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}

.home-page section.top img.ep_2 {
    top: 80%;
    left: 20%;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.home-page section.top img.ep_3 {
    top: 43%;
    left: 74%;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

.home-page section.top img.ep_4 {
    top: 56%;
    left: -10%;
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s
}
*/



