#hero-container,
#intro-scene-trigger,
#scene1-pin,
#scene2

{
    overflow-x: hidden;
    scroll-behavior: smooth;  
}

#flip-today {
    height: 0px;
}

#flip-osr {
    height: 0px;
}

#ogrid2-mobile {
    height: 0px;
}


#today-margin {
    margin-left: 60%;
}

#service-h1-container {
    margin-left: 12%;
    margin-top: 12%;
}

#pin1 {
    background-color: white;
}

#ring-grid {
    background-color: #0F2046;
}

#card-cta-container {
    background-color: white;
}


/*SETUP AND Z-INDEX*/
/*-------------------------------------------------------------------------*/
body {
    font-family: "Rational Text", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EDF5FC;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-weight: 600;
}

li {
    color: #adb8c9;
}


.spacer-container.h-100 {
    height: 100vh;
}

.spacer-container.h-200 {
    height: 200vh;
}

.spacer-container.h-300 {
    height: 300vh;
}

.spacer-container.h-400 {
    height: 440vh;
}

.spacer-container.h-500 {
    height: 500vh;
}

.spacer-container.girl-space {
    height: 283vh;
}

.spacer-container.h2-space {
    height: 140vh;
}

.spacer-container.end-space {
    height: 180vh;
}
.spacer-container.hero-space-70 {
    height: 70vh;
}
.spacer-container.hero-space-30 {
    height: 30vh;
}
.spacer-container.hero-space-120 {
    height: 120vh;
}
.spacer-container.hero-space-80 {
    height: 80vh;
}
.spacer-container.hero-space-10 {
    height: 10vh;
}
.spacer-container.hero-space-60 {
    height: 60vh;
}


/* Colors */
.bg-white {
    color: #f5f7f9;
}

.lblue {
    color: #9dd1ff;
}

.blue {
    color: #1a80ff;
}

.nblue {
    color: #4F5F6C;
}

.dblue {
    color: #00216E;
}

.white {
    color: #fff;
}
/* End Colors */

#anim1-container {
    margin:0;
    padding:0;
    z-index: 1;
}
#scene1 {
    z-index: 50;
}
#scene1-2-trigger {
    z-index: 60;
}
#scene1-pin {
    z-index: -11;
}
#scene2-pin {
    z-index: -10;
}
#scene2-3-pin {
    z-index: 190;
}
#panels-container {
    z-index: 100;
}
#hero-container2 {
    z-index: -1;
}
.container {
    text-align: center;
    width: 100%;
    margin: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pinned-element {
    position: absolute;
}

.animation-container,
.spacer-container {
    height: 100vh;
}

.spacer-container.h-50 {
    height: 50vh;
}

.col-8 {
    width: 66.66667%;
}

.offset-7 {
    margin-left: 58.333333%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}


.height-h-10 {
    height: 10vh;
}
.height-h-25 {
    height: 25vh;
}
.height-h-50 {
    height: 50vh;
}
.height-h-60 {
    height: 60vh;
}
.height-h-75 {
    height: 75vh;
}
.height-h-100 {
    height: 100vh;
}

.mb-0 {
    margin-bottom: 0rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

.drounded-0 {
    border-radius: 0 !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.not-mobile {
    display: block;
}
.only-mobile {
    visibility: hidden;
}


/*_________________________________  MAIN  ___________________________________*/

.hero {
    background-image: url('../img/bg-image-nosquares.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100% auto;

}

#squares-left-container {
    padding-left: 320px;
    padding-top: 360px;
    width: 360px;
}

#squares-right-container {
    width: 680px;
    margin-left: -480px;
    margin-top: 10%;
}

#flip-today-container {
}

#flip-today {
}

#ogrid-wrapper {
}

#oGrid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
    padding-left: 0;
    width: 38%;
}

.hero-container-header {
    padding-top: 19%;
    padding-right: 0px;
    margin-left: 0px;
}

.hero h1 {
    font-size: 64px;
    line-height: 64px;
    padding-left: 19%;
    padding-right: 0px;
    margin-left: 0px;
}

.hero h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 31%;
}

.service {
    padding-left: 1%;
}

.service h1 {
    font-size: 76px;
}

.today {
    padding-left: 0px;
    padding-right: 0px;
}

.today p {
    font-size: 24px;
    line-height: 2.3rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    margin-right: -9rem;
}

#osrChart {
    width: 1360px;
}

#osr-container {
    padding-left: 40%;
    padding-top: 16%;
}

#flip-osr-conatainer {
    }
#flip-osr {
    }

.slide-list-container {
    padding-left: 23px;
    padding-top: 4%;
}

#panels {
    width: 623px;
}

#panels-container {
    padding-top: 200px;
    padding-left: 18%;
}

#oGrid2 {
    width: 1060px;
}

#oGrid2-padding {
    padding-left: 18%;
    padding-top: 80px;
    padding-bottom: 0px;
}

#ogrid2-mobile {
    width: 0px;
    height: 0px;
}

#ogrid2-mobile-container {
    padding-left: 0px;
}

#hero-container2 {
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100% auto;
}

#hero2-img {
}

.slide-list {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    list-style-type: none;
    cursor: pointer;
    cursor: hand;
}


.slide-list li {
    padding: 4px;
}
.slide-list a {
    color: #ADB8C9;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
.slide-list a:hover {
    color: #00216E;
    text-decoration: none;
    cursor: hand;
}
.slide-list .active a {
    color: #323232;
    text-decoration: none;
     cursor: default;
}


.slide-list.white a {
    color: rgba(255, 255, 255, 0.5);
}

.slide-list.white a:hover {
    color: #ADB8C9;
}

.slide-list.white .active a {
    color: white;
}

/*-------------------------------------------------------------------------*/

#first_panel {
    padding-left: 346px;
}

#second_panel {
    padding-left: 346px;
}

#third_panel {
    padding-left: 80px;
}

.dcard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.dcard-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.dcard-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.42rem;
}
.dcard-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.dborder-0 {
    border: 0 !important;
}

.dtext-muted {
    color: #6c757d !important;
}

.card-img {
    margin-top: 3.29rem;
}

.card-img-overlay {
    padding-top: 6.43rem;
}

#card-para {
    background: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57rem;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-right: 1.43rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-top: 2.3rem;
    padding-bottom: 2.86rem;
    margin-top: -1.6rem;
}

#card-h6 {
    color: #424352;
    background: none;
    
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    text-align: left;

    margin-left: -1.43rem;
    margin-right: -1.43rem;
    margin-top: 1.2rem;
    padding-top: 1.43rem;
    padding-left: 2.3rem;
    padding-bottom: 10px;
}

#panel_1,
#panel_2,
#panel_3 {
    border-radius: 0;
    width: 386px;
    background-color: rgba(255, 255, 255, 1);
    
    background: none;
    margin-top: -5rem;
}

#panel-card-h3 {
    background: white;
    font-weight: 300;
    font-size: 26px;
    line-height: 2rem;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-left: 2.3rem;
}

#panel1-card-h3-last,
#panel2-card-h3-last {
    background: white;
    font-weight: 400;
    font-size: 26px;
    line-height: 2rem;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-left: 2.3rem;
}

#panel1-card-h3-second {
    background: white;
    font-weight: 300;
    font-size: 26px;
    line-height: 2.4rem;
    margin-left: -1.43rem;
    padding-left: 2.3rem;
}

#panel-card-h3-first {
    background: white;
    font-weight: 300;
    font-size: 26px;
    line-height: 2rem;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-left: 2.3rem;
    margin-top: 0rem;
}

#panel-card-h3-second {
    background: white;
    font-size: 26px;
    line-height: 2rem;
    font-weight: 300;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-left: 2.3rem;
}

#panel-card-h3-third {
    background: white;
    font-size: 26px;
    font-weight: 300;
    line-height: 2rem;
    margin-left: -1.43rem;
    margin-right: -1.43rem;
    padding-left: 2.3rem;
    padding-top: 1.14rem;
    padding-bottom: 1.14rem;
    margin-top: -1.14rem;
}

/*  CARD MAN*/
/*-------------------------------------------------------------------------*/
#pin1 {
    background: white;
}

#card-man-container {
    padding-top: 16%;
    padding-left: 25%;
}

#card-man2-container {
    padding-top: 25%;
    padding-left: 10%;
}

#card-man {
    width: 480px;  
}

#man-pic {
    width: 480px;
}

.card-man-h5-1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 40px;
    }
    
.card-man-h5-2 {
        font-size: 40px;
        margin-top: -.7rem;
        padding-bottom: 0;
    }

#card-man h6 {
    color:#4f5f6c;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 0px;
    padding-bottom: .4rem;
    margin-top: 2rem;
}

#card-man p {
    color:#4f5f6c;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    padding-top: 8px;
    padding-bottom: .4rem;
}

#card-blockquote {
    font-family: "IBM Plex Mono", monospace;
    color:#4f5f6c;
    font-size: 13px;
    font-weight: 300;
    padding-top: 1.4rem;
    margin-left: 0.4rem;
}
/*  END CARD MAN*/
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
#endring-bg {
/*    height: 632px;*/
}

#endring-wrapper {
    padding: 0px;
    margin-bottom: -1.1%;
    height: auto:
}

#endring-svg {
}

#trigger2 {
}

#card-ebook-container {
    border-color: white;
    width: 500px;
    left: 36%;
    bottom: 10%;
    height: 24rem;
    margin-top: 4%;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#card-ebook-pad {
    padding-left: 0px;
    padding-top: 7.5rem;
}

#card-ebook-body {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

#card-ebook-h6 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: .4rem;
    color: #acaaa8;
}

#card-ebook-h3-1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
    color:#0e1871;
    line-height: 42px;
}

#card-ebook-h3-2 {
    font-size: 36px;
    font-weight: 500;
    color: #1A80FF;
    padding-bottom: 1.4rem;
}

#card-ebook-p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color:#4f5f6c;
    padding-bottom: 1.6rem;
}

#card-ebook-link-container {
    padding-top: 1rem;
}

#ebook-text-underline {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    text-underline-position: under;
    color: #1a80ff;
}

#ebook-text-underline:hover {
    color: #00216E;
}

#cta-grid {
}

#card-cta-pic-container {
    margin-top: 2px;
    padding-left: 16.66%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#card-cta-pic {
    width: 80%;
}

#card-cta-container-mobile {
}

#card-cta-mobile {
}

#card-cta-pic-container-mobile {
    margin: 0;
    padding: 0;
}

#card-cta-pic-mobile {
    width: 1px;
}
    

/*_________________________________  1440  ___________________________________*/
@media (max-width: 1440px) {
    
    #endring-wrapper {

    padding: 0px;
    margin-bottom: -1.1%;
    height: auto:
}
    
    .hero {
        background-image: url('../img/bg-image-nosquares.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;

    }

    #squares-left-container {
        padding-left: 320px;
        padding-top: 280px;
        width: 320px;
    }

    #squares-right-container {
        width: 580px;
        margin-left: -410px;
        margin-top: 18%;
    }

    #flip-today-container {
    }

    #flip-today {
    }

    #ogrid-wrapper {
    }

    #oGrid {
        margin-left: 28%;
        margin-top: 20%;
        padding-left: 0;
        width: 38%;
    }
    .hero-container-header {
        padding-top: 16%;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .hero h1 {
        font-size: 60px;
        line-height: 64px;
        padding-left: 16%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h2 {
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        padding-left: 29%;
    }
    
    #service-h1-container {
        margin-left: 7%;
    }

    .service {
        padding-left: 0%;
    }

    .service h1 {
        font-size: 76px;
    }

    .today {
        padding-left: 0px;
        padding-right: 0px;
    }

    .today p {
        font-size: 24px;
        line-height: 2.3rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        margin-right: -9rem;
    }

    #osrChart {
        width: 1360px;
    }

    #osr-container {
        padding-left: 32%;
        padding-top: 11%;
    }

    #flip-osr-conatainer {
    }
    #flip-osr {
    }

    .slide-list-container {
        padding-left: 2%;
        padding-top: 4%;
    }

    #panels {
        width: 623px;
    }

    #panels-container {
        padding-top: 200px;
        padding-left: 16%;
    }
    
    #oGrid2 {
        width: 1060px;
    }

    #oGrid2-padding {
        padding-left: 12%;
        padding-top: 8%;
        padding-bottom: 0px;
    }

    #ogrid2-mobile {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 0px;
    }

    #hero-container2 {
        background-image: url('../img/bg-image2.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 100% auto;
    }
    
    #card-ebook-container {
        border-color: white;
        width: 500px;
        left: 36%;
        bottom: 10%;
        height: 24rem;
        margin-top: -1%;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}
/*_________________________________  1280  ___________________________________*/
@media (max-width: 1280px) {
    
    #endring-wrapper {

        padding: 0px;
        margin-bottom: -1.3%;
        height: auto:
    }
 
    .hero {
        background-image: url('../img/bg-image-nosquares.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }

    #squares-left-container {
        padding-left: 320px;
        padding-top: 250px;
        width: 280px;
    }

    #squares-right-container {
        width: 520px;
        margin-left: -360px;
        margin-top: 14%;
    }

    #flip-today-container {
    }

    #flip-today {
    }

    #ogrid-wrapper {
    }

    #oGrid {
        margin-left: 28%;
        margin-top: 26%;
        padding-left: 0;
        width: 36%;
    }
    .hero-container-header {
        padding-top: 21%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h1 {
        font-size: 52px;
        line-height: 56px;
        padding-left: 20%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-left: 33%;
    }
    
    #service-h1-container {
        margin-left: 7%;
    }

    .service {
        padding-left: 2%;
    }

    .service h1 {
        font-size: 62px;
    }

    .today {
        padding-left: 0px;
        padding-right: 0px;
    }

    .today p {
        font-size: 24px;
        line-height: 2.3rem;
        padding-bottom: 4rem;
        padding-left: 0rem;
        margin-right: -9rem;
    }

    #osrChart {
        width: 1160px;
    }

    #osr-container {
        padding-left: 38%;
        padding-top: 20%;
    }

    #flip-osr-conatainer {
    }
    #flip-osr {
    }

    .slide-list-container {
        padding-left: 2%;
        padding-top: 8%;
    }
    
    #first_panel {
        padding-left: 346px;
    }

    #second_panel {
        padding-left: 346px;
    }

    #third_panel {
        padding-left: 140px;
    }

    #panels {
        width: 586px;
    }

    #panels-container {
        padding-top: 200px;
        padding-left: 6%;
    }
    
    #oGrid2 {
        width: 920px;
    }

    #oGrid2-padding {
        padding-left: 16%;
        padding-top: 8%;
        padding-bottom: 0px;
    }

    #ogrid2-mobile {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 0px;
    }

    #hero-container2 {
        background-image: url('../img/bg-image2.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 100% auto;
    }
    
    #card-man-container {
        padding-top: 23%;
        padding-left: 25%;
    }

    #card-man2-container {
        padding-top: 36%;
        padding-left: 14%;
    }

    #card-man {
        width: 460px;  
    }

    #man-pic {
        width: 400px;
    }

    .card-man-h5-1 {
        padding-top: 2rem;
        padding-bottom: .8rem;
        font-size: 36px;
    }

    .card-man-h5-2 {
        font-size: 36px;
        margin-top: -.7rem;
        padding-bottom: 0;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0px;
        padding-bottom: .4rem;
        margin-top: 2rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 13px;
        font-weight: 300;
        padding-top: .8rem;
        margin-left: 0.4rem;
    }

    #card-ebook-container {
        border-color: white;
        width: 500px;
        left: 36%;
        bottom: 10%;
        height: 24rem;
        margin-top: -1%;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #card-ebook-container {
        border-color: white;
        width: 420px;
        height: 23rem;
        margin-top: -7%;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-pad {
        padding-left: 0px;
        padding-top: 7.5rem;
    }

    #card-ebook-body {
        padding-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #card-ebook-h6 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 1.2rem;
        padding-bottom: 1.2rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 42px;
    }

    #card-ebook-h3-2 {
        font-size: 36px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color:#4f5f6c;
        padding-bottom: 1.6rem;
    }

    #card-ebook-link-container {
        padding-top: 1rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 20px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;
    }

}
/*_________________________________  992  ___________________________________*/
@media (max-width: 992px) {
    
    #endring-wrapper {
        padding: 0px;
        margin-bottom: -1.7%;
        height: auto:
    }
    
    #first_panel {
        padding-left: 0;
        margin-left: 60px;
    }

    #second_panel {
        padding-left: 0;
        margin-left: 30px;
    }

    #third_panel {
        padding-left: 180px;
    }

    #panel_1,
    #panel_2,
    #panel_3 {
        border-radius: 0;
        width: 326px;
        background-color: rgba(255, 255, 255, 1);

        background: none;
        margin-top: -5rem;
    }
    
    .hero {
        background-image: url('../img/bg-image-nosquares.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;

    }

    #squares-left-container {
        padding-left: 320px;
        padding-top: 180px;
        width: 220px;
    }

    #squares-right-container {
        width: 400px;
        margin-left: -280px;
        margin-top: 14%;
    }

    #flip-today-container {
    }

    #flip-today {
    }

    #ogrid-wrapper {
    }

    #oGrid {
        margin-left: 32%;
        margin-top: 23%;
        padding-left: 0;
        width: 32%;
    }
    .hero-container-header {
        padding-top: 18%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h1 {
        font-size: 38px;
        line-height: 40px;
        padding-left: 18%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30%;
    }
    
    #service-h1-container {
        margin-left: 7%;
    }

    .service {
        padding-left: 2%;
    }

    .service h1 {
        font-size: 52px;
    }

    .today {
        padding-left: 0px;
        padding-right: 0px;
    }

    .today p {
        font-size: 20px;
        line-height: 2.3rem;
        padding-bottom: 4rem;
        padding-left: 0rem;
        margin-right: -9rem;
    }

    #osrChart {
        width: 880px;
    }

    #osr-container {
        padding-left: 57%;
        padding-top: 34%;
    }

    #flip-osr-conatainer {
    }
    #flip-osr {
    }

    .slide-list-container {
        padding-left: 2%;
        padding-top: 12%;
    }
    
    .slide-list {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        list-style-type: none;
        cursor: pointer;
        cursor: hand;
    }

    #panels {
        width: 446px;
    }

    #panels-container {
        padding-top: 260px;
        padding-left: 9%;
    }
    
    #oGrid2 {
        width: 680px;
    }

    #oGrid2-padding {
        padding-left: 16%;
        padding-top: 8%;
        padding-bottom: 0px;
    }

    #ogrid2-mobile {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 0px;
    }

    #hero-container2 {
        background-image: url('../img/bg-image2.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 100% auto;
    }
    
    #first_panel {
        padding-left: 223px;
    }

    #second_panel {
        padding-left: 323px;
    }

    #third_panel {
        margin-left: 0px;
        margin-top: 60px;
    }

    .dcard {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .dcard-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .dcard-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.42rem;
    }
    .dcard-img {
        width: 100%;
        border-radius: calc(0.25rem - 1px);
    }

    .dborder-0 {
        border: 0 !important;
    }

    .dtext-muted {
        color: #6c757d !important;
    }

    .card-img {
        margin-top: 3.29rem;
    }

    .card-img-overlay {
        padding-top: 6.43rem;
    }

    #card-para {
        background: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-right: 1.43rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        padding-top: 2.3rem;
        padding-bottom: 2.86rem;
        margin-top: -1.6rem;
    }

    #card-h6 {
        color: #424352;
        background: none;

        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        text-align: left;

        margin-left: -1.43rem;
        margin-right: -1.43rem;
        margin-top: 1.2rem;
        padding-top: 1.43rem;
        padding-left: 2.3rem;
        padding-bottom: 10px;
    }

    #panel_1,
    #panel_2,
    #panel_3 {
        border-radius: 0;
        width: 326px;
        background-color: rgba(255, 255, 255, 1);

        background: none;
        margin-top: -5rem;
    }

    #panel-card-h3 {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel1-card-h3-last,
    #panel2-card-h3-last {
        background: white;
        font-weight: 400;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel1-card-h3-second {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2.4rem;
        margin-left: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel-card-h3-first {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
        margin-top: 0rem;
    }

    #panel-card-h3-second {
        background: white;
        font-size: 26px;
        line-height: 2rem;
        font-weight: 300;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel-card-h3-third {
        background: white;
        font-size: 26px;
        font-weight: 300;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
        padding-top: 1.14rem;
        padding-bottom: 1.14rem;
        margin-top: -1.14rem;
    }
    
    #card-man-container {
        padding-top: 36%;
        padding-left: 25%;
    }

    #card-man2-container {
        padding-top: 46%;
        padding-left: 14%;
    }

    #card-man {
        width: 360px;  
    }

    #man-pic {
        width: 300px;
    }

    .card-man-h5-1 {
        padding-top: 2rem;
        padding-bottom: .8rem;
        font-size: 26px;
    }

    .card-man-h5-2 {
        font-size: 26px;
        padding-bottom: 0;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
        padding-bottom: .4rem;
        margin-top: 1rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 10px;
        font-weight: 300;
        padding-top: .8rem;
        margin-left: 0.4rem;
    }
    
    #card-ebook-container {
        border-color: white;
        width: 420px;
        height: 18rem;
        margin-top: -2%;
        margin-left: -18%;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-pad {
        padding-left: 0px;
        padding-top: 4.5rem;
    }

    #card-ebook-body {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-h6 {
        font-size: 15px;
        font-weight: 400;
        margin-top: 1rem;
        padding-bottom: .5rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 36px;
    }

    #card-ebook-h3-2 {
        font-size: 26px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color:#4f5f6c;
        padding-bottom: 1.6rem;
    }

    #card-ebook-link-container {
        padding-top: 0rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;
    }
}
/*_________________________________  768  ___________________________________*/
@media (max-width: 768px) {
    
    .hero {
        background-image: url('../img/bg-image-nosquares.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }

    #squares-left-container {
        padding-left: 320px;
        padding-top: 180px;
        width: 220px;
    }

    #squares-right-container {
        width: 400px;
        margin-left: -280px;
        margin-top: 14%;
    }

    #flip-today-container {
    }

    #flip-today {
    }

    #ogrid-wrapper {
    }

    #oGrid {
        margin-left: 32%;
        margin-top: 23%;
        padding-left: 0;
        width: 32%;
    }
    .hero-container-header {
        padding-top: 18%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h1 {
        font-size: 38px;
        line-height: 40px;
        padding-left: 18%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .hero h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30%;
    }
    
    #service-h1-container {
        margin-left: 7%;
    }

    .service {
        padding-left: 2%;
    }

    .service h1 {
        font-size: 52px;
    }

    .today {
        padding-left: 0px;
        padding-right: 0px;
    }

    .today p {
        font-size: 20px;
        line-height: 2.3rem;
        padding-bottom: 4rem;
        padding-left: 0rem;
        margin-right: -9rem;
    }

    #osrChart {
        width: 880px;
    }

    #osr-container {
        padding-left: 57%;
        padding-top: 34%;
    }

    #flip-osr-conatainer {
    }
    #flip-osr {
    }

    .slide-list-container {
        padding-left: 2%;
        padding-top: 12%;
    }
    
    .slide-list {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        list-style-type: none;
        cursor: pointer;
        cursor: hand;
    }

    #panels {
        width: 446px;
    }

    #panels-container {
        padding-top: 260px;
        padding-left: 9%;
    }
    
    #oGrid2 {
        width: 680px;
    }

    #oGrid2-padding {
        padding-left: 16%;
        padding-top: 8%;
        padding-bottom: 0px;
    }

    #ogrid2-mobile {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 0px;
    }

    #hero-container2 {
        background-image: url('../img/bg-image2.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 100% auto;
    }
    
    #first_panel {
        padding-left: 223px;
    }

    #second_panel {
        padding-left: 323px;
    }

    #third_panel {
        margin-left: 0px;
        margin-top: 60px;
    }

    .dcard {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .dcard-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .dcard-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.42rem;
    }
    .dcard-img {
        width: 100%;
        border-radius: calc(0.25rem - 1px);
    }

    .dborder-0 {
        border: 0 !important;
    }

    .dtext-muted {
        color: #6c757d !important;
    }

    .card-img {
        margin-top: 3.29rem;
    }

    .card-img-overlay {
        padding-top: 6.43rem;
    }

    #card-para {
        background: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-right: 1.43rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        padding-top: 2.3rem;
        padding-bottom: 2.86rem;
        margin-top: -1.6rem;
    }

    #card-h6 {
        color: #424352;
        background: none;

        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        text-align: left;

        margin-left: -1.43rem;
        margin-right: -1.43rem;
        margin-top: 1.2rem;
        padding-top: 1.43rem;
        padding-left: 2.3rem;
        padding-bottom: 10px;
    }

    #panel_1,
    #panel_2,
    #panel_3 {
        border-radius: 0;
        width: 326px;
        background-color: rgba(255, 255, 255, 1);

        background: none;
        margin-top: -5rem;
    }

    #panel-card-h3 {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel1-card-h3-last,
    #panel2-card-h3-last {
        background: white;
        font-weight: 400;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel1-card-h3-second {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2.4rem;
        margin-left: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel-card-h3-first {
        background: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
        margin-top: 0rem;
    }

    #panel-card-h3-second {
        background: white;
        font-size: 26px;
        line-height: 2rem;
        font-weight: 300;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
    }

    #panel-card-h3-third {
        background: white;
        font-size: 26px;
        font-weight: 300;
        line-height: 2rem;
        margin-left: -1.43rem;
        margin-right: -1.43rem;
        padding-left: 2.3rem;
        padding-top: 1.14rem;
        padding-bottom: 1.14rem;
        margin-top: -1.14rem;
    }
    
    #card-man-container {
        padding-top: 36%;
        padding-left: 25%;
    }

    #card-man2-container {
        padding-top: 46%;
        padding-left: 14%;
    }

    #card-man {
        width: 360px;  
    }

    #man-pic {
        width: 300px;
    }

    .card-man-h5-1 {
        padding-top: 2rem;
        padding-bottom: .8rem;
        font-size: 26px;
    }

    .card-man-h5-2 {
        font-size: 26px;
        padding-bottom: 0;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
        padding-bottom: .4rem;
        margin-top: 1rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 10px;
        font-weight: 300;
        padding-top: .8rem;
        margin-left: 0.4rem;
    }
    
    #card-ebook-container {
        border-color: white;
        width: 420px;
        height: 18rem;
        margin-top: -2%;
        margin-left: -18%;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-pad {
        padding-left: 0px;
        padding-top: 4.5rem;
    }

    #card-ebook-body {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-h6 {
        font-size: 15px;
        font-weight: 400;
        margin-top: 1rem;
        padding-bottom: .5rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 36px;
    }

    #card-ebook-h3-2 {
        font-size: 26px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color:#4f5f6c;
        padding-bottom: 1.6rem;
    }

    #card-ebook-link-container {
        padding-top: 0rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;

    }  
}
/*_________________________________  IPHONE PLUS 414  ___________________________________*/
@media screen and (max-width: 768px) {

    .not-mobile {
        display: block;
        visibility: hidden;
    }
    .only-mobile {
        display: block;
        visibility: visible;
    }

    .hero {
        background-image: url('../img/bg-image-mobile.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }
    
    #squares-left-container {
        padding-left: 0px;
        padding-top: 0px;
        width: 0px;
    }

    #squares-right-container {
        width: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #oGrid {
        margin-left: 22%;
        margin-right: 0px;
        margin-top: 280px;
        margin-bottom: 0;
        padding-left: 0;
        width: 320px;
    }
    
    .hero-container-header {
        padding-top: 12%;
        padding-left: 16px;
        margin-right: 0px;
        padding-right: 0;
    }

    .hero h1 {
        font-size: 46px;
        line-height: 50px;
        padding-left: 0;
        margin-right: -90px;

    }

    .hero h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 4%;
        margin-right: -90px;
    }
    
    #service-h1-container {
        padding-bottom: 20%;
        margin-top: 0%;
    }
    
    .service {
        padding-left: 0%;
        padding-bottom: 200px;
    }

    .service h1 {
        font-size: 56px;
        line-height: 52px;

    }
    
    .slide-list {
        display: none;
    }
    
    #flip-today-container {
        margin-left: -3rem;
        padding-left: 0%;
        width: 724px;
    }
    
    #flip-today {
        width: 63%;
        padding-left: 0%;
    }
    
    #flip-osr-container {
        margin-left: -1.4rem;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    #flip-osr {
        width: 375px;
    }
    
    #osr-container {
        margin-left: 91%;
        margin-top: 246px;
        padding-top: 100%;
    }
    
    #osrChart {
        padding-top: 20%;
        width: 486px;
    }
    
    #oGrid2-padding {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #oGrid2 {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 40px;
        margin-top: 300px;
    }
    
    #ogrid2-mobile {
        width: 352px;
    }
    
    #hero-container2 {
        background-image: url('../img/bg-image2-m-sm.jpg');
    }
    
    #pin1 {
        background: white;
        height: 120vh;
    }

    #card-man-container {
        margin-left: 20px;
        margin-top: 60px;
        padding-left: 0%;
    }
    
    #card-man {
        padding-right: 15px;
        padding-left: 10px;
        width: 300px;  
    }

    .card-man-h5-1 {
        padding-top: 4rem;
        padding-bottom: .2rem;
        font-size: 26px;
        line-height: 36px;
    }
    
    .card-man-h5-2 {
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 0;
    }

    #card-man h3 {
        font-size: 26px;
        color: #1A80FF;
        line-height: 1.4rem;
        padding-bottom: 1.2rem;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 0px;
        margin-top: .8rem;
        padding-bottom: .6rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: .8rem;
        line-height: 1.2rem;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 9px;
        font-weight: 300;
        padding-top: .2rem;
        padding-bottom: 3rem;
    }
    
    #card-man2-container {
        width: 100%;
        background-color: white;
        padding-top: 0%;
        padding-left: 4%;
        padding-right: 0%;
        padding-bottom: 0px;
    }
    
    #man-pic-container {
    }

    #man-pic {
        width: 246px;
        padding-left: 36px;
    }

    #trigger2 {
        padding-right: 0px;
        background-color: white;
    }

    #ring-grid {
        background-image: url('../svg/endrings-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto;

        background-color: #0F2146;
        height: 70vh;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    #endring-bg {
    }    
    
    #card-ebook-pad {
        padding-left: 0px;
        margin-top: -3rem;
        padding-top: 6rem;
    }

    #card-ebook-container {
        border-color: rgba(0, 0, 0, 0.2);;
        width: 300px;
        left: 7%;
        bottom: 10%;
        height: 23rem;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-body {
        margin-top: -16px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: .6rem;
        padding-right: 1rem;
    }

    #card-ebook-h6 {
        font-size: 14px;
        font-weight: 400;
        padding-top: 0px;
        padding-bottom: 1rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 42px;
    }

    #card-ebook-h3-2 {
        font-size: 32px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        color:#4f5f6c;
        padding-bottom: 1rem;
    }

    #card-ebook-link-container {
        padding-top: 1rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;
    }

    #cta-grid {
        margin-top: -460px;
    }

    #card-cta-pic-container {
        margin-top: -100px;
        padding-left: 16.66%;
        padding-top: 6rem;
        padding-bottom: 9rem;
    }

    #card-cta-pic {
    }

    #card-cta-container-mobile {
    }

    #card-cta-mobile {
    }

    #card-cta-pic-container-mobile {
        margin: 0;
        padding: 0;
    }

    #card-cta-pic-mobile {
        width: 1px;
    }

    #card-cta-pic-mobile {
        margin-left: -24px;
        padding-top: 40px;
        padding-left: 0px;
        width: 286px;
    }
    
}  
/*_________________________________  END IPHONE PLUS 414  ___________________________________*/

/*_________________________________  IPHONE 375  ___________________________________*/
@media screen and (max-width: 375px) {
    
    .not-mobile {
        display: block;
        visibility: hidden;
    }
    .only-mobile {
        display: block;
        visibility: visible;
    }

    .hero {
        background-image: url('../img/bg-image-mobile.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }
    
    #squares-left-container {
        padding-left: 0px;
        padding-top: 0px;
        width: 0px;
    }

    #squares-right-container {
        width: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #oGrid {
        margin-left: 22.5%;
        margin-right: 0px;
        margin-top: 250px;
        margin-bottom: 0;
        padding-left: 0;
        width: 320px;
    }
    
    .hero-container-header {
        padding-top: 8%;
        padding-left: 16px;
        margin-right: 0px;
        padding-right: 0;
    }

    .hero h1 {
        font-size: 46px;
        line-height: 50px;
        padding-left: 0;
        margin-right: -90px;

    }

    .hero h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 4%;
        margin-right: -90px;
    }
    
    #service-h1-container {
        padding-bottom: 20%;
        margin-top: 2%;
    }
    
    .service {
        padding-left: 0%;
        padding-bottom: 200px;
    }

    .service h1 {
        font-size: 52px;
        line-height: 54px;
        padding-left: .3rem;
    }
    
    .busb {
        margin-top: -.6rem;
    }
    
    .slide-list {
        display: none;
    }
    
    #flip-today-container {
        margin-left: -3rem;
        padding-left: 0%;
        width: 724px;
    }
    
    #flip-today {
        width: 63%;
        padding-left: 0%;
    }
    
    #flip-osr-container {
        margin-left: -1.4rem;
        padding-top: 30px;
        padding-left: 0px;
    }
    
    #flip-osr {
        width: 375px;
    }

    #osr-container {
        margin-left: 100%;
        margin-top: 13rem;
        padding-top: 100%;
    }
    
    #osrChart {
        padding-top: 20%;
        width: 480px;
    }
    
    #oGrid2-padding {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #oGrid2 {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 40px;
        margin-top: 300px;
    }
    
    #ogrid2-mobile {
        width: 352px;
    }
    
    #hero-container2 {
        background-image: url('../img/bg-image2-m-sm.jpg');
    }
   
    /*  START CARD MAN 375 */
/*-------------------------------------------------------------------------*/
    
    #pin1 {
    background: white;
    height: 120vh;
    }

    #card-man-container {
        margin-left: 1.8rem;
        margin-top: 3.4rem;
        padding-left: 0%;
    }
    
    #card-man {
        padding-right: 15px;
        padding-left: 10px;
        width: 280px;  
    }

    .card-man-h5-1 {
        padding-top: 4rem;
        padding-bottom: .2rem;
        font-size: 24px;
        line-height: 36px;
    }
    
    .card-man-h5-2 {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 0;
    }

    #card-man h3 {
        font-size: 26px;
        color: #1A80FF;
        line-height: 1.4rem;
        padding-bottom: 1.2rem;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 0px;
        margin-top: .8rem;
        padding-bottom: .6rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: .8rem;
        line-height: 1.2rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 9px;
        font-weight: 300;
        padding-top: .2rem;
        padding-bottom: 2.6rem;
    }
    
    #card-man2-container {
        width: 100%;
        background-color: white;
        padding-top: 0%;
        padding-left: 4%;
        padding-right: 0%;
        padding-bottom: 0px;
    }
    
    #man-pic-container {
    }

    #man-pic {
        width: 212px;
        padding-left: 3.4rem;
    }

    /*  END CARD MAN 375 */
/*-------------------------------------------------------------------------*/
    /*  START END SCREEN 375 */
/*-------------------------------------------------------------------------*/

    #trigger2 {
        padding-right: 0px;
        background-color: white;
    }

    #ring-grid {
        background-image: url('../svg/endrings-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto;

        background-color: #0F2146;
        height: 70vh;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #endring-bg {
    }    

    #card-ebook-pad {
        padding-left: 0px;
        margin-top: -3rem;
        padding-top: 6rem;
    }

    #card-ebook-container {
        border-color: rgba(0, 0, 0, 0.2);;
        width: 290px;
        left: 28%;
        bottom: 10%;
        height: 23rem;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-body {
        margin-top: -16px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: .6rem;
        padding-right: 1rem;
    }

    #card-ebook-h6 {
        font-size: 14px;
        font-weight: 400;
        padding-top: 0px;
        padding-bottom: 1rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 42px;
    }

    #card-ebook-h3-2 {
        font-size: 32px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        color:#4f5f6c;
        padding-bottom: 1rem;
    }

    #card-ebook-link-container {
        padding-top: 1rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;
    }
    
    #cta-grid {
        margin-top: -460px;
    }

    #card-cta-pic-container {
        margin-top: -100px;
        padding-left: 16.66%;
        padding-top: 6rem;
        padding-bottom: 9rem;
    }

    #card-cta-pic {
    }

    #card-cta-container-mobile {
    }

    #card-cta-mobile {
    }

    #card-cta-pic-container-mobile {
        margin: 0;
        padding: 0;
    }

    #card-cta-pic-mobile {
        width: 1px;
    }

    #card-cta-pic-mobile {
        margin-left: -24px;
        padding-top: 40px;
        padding-left: 0px;
        width: 286px;
    }
    
    /*  END END SCREEN 375 */
/*-------------------------------------------------------------------------*/
}  
/*_________________________________  END IPHONE 375  ___________________________________*/

/*_________________________________  ANDROID 360  ___________________________________*/
@media screen and (max-width: 360px) {

    .not-mobile {
        display: block;
        visibility: hidden;
    }
    .only-mobile {
        display: block;
        visibility: visible;
    }

    .hero {
        background-image: url('../img/bg-image-mobile.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }
    
    #squares-left-container {
        padding-left: 0px;
        padding-top: 0px;
        width: 0px;
    }

    #squares-right-container {
        width: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #oGrid {
        margin-left: 22%;
        margin-right: 0px;
        margin-top: 240px;
        margin-bottom: 0;
        padding-left: 0;
        width: 320px;
    }
    
    .hero-container-header {
        padding-top: 8%;
        padding-left: 16px;
        margin-right: 0px;
        padding-right: 0;
    }

    .hero h1 {
        font-size: 46px;
        line-height: 50px;
        padding-left: 0;
        margin-right: -90px;

    }

    .hero h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 4%;
        margin-right: -90px;
    }
    
    #service-h1-container {
        padding-bottom: 20%;
        margin-top: 2%;
    }
    
    .service {
        padding-left: 0%;
        padding-bottom: 200px;
    }

    .service h1 {
        font-size: 46px;
        line-height: 50px;

    }
    
    .slide-list {
        display: none;
    }
    
    #flip-today-container {
        margin-left: -3.6rem;
        padding-left: 0%;
        width: 724px;
    }
    
    #flip-today {
        width: 63%;
        padding-left: 0%;
    }
    
    #flip-osr-container {
        margin-left: -.96rem;
        padding-top: 30px;
        padding-left: 0px;
    }
    
    #flip-osr {
        width: 346px;
    }
    
    #osr-container {
        margin-left: 109.5%;
        margin-top: 246px;
        padding-top: 100%;
    }
    
    #osrChart {
        padding-top: 20%;
        width: 456px;
    }
    
    #oGrid2-padding {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #oGrid2 {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 16%;
        margin-top: 300px;
    }
    
    #ogrid2-mobile {
        width: 332px;
    }
    
    #hero-container2 {
        background-image: url('../img/bg-image2-m-sm.jpg');
    }
    
    #pin1 {
        background: white;
        height: 120vh;
    }

    #card-man-container {
        margin-left: 6%;
        margin-top: 22%;
        padding-left: 0%;
    }
    
    #card-man {
        padding-right: 15px;
        padding-left: 10px;
        width: 300px;  
    }

    .card-man-h5-1 {
        padding-top: 4rem;
        padding-bottom: .2rem;
        font-size: 26px;
        line-height: 36px;
    }
    
    .card-man-h5-2 {
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 0;
    }

    #card-man h3 {
        font-size: 26px;
        color: #1A80FF;
        line-height: 1.4rem;
        padding-bottom: 1.2rem;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 0px;
        margin-top: .8rem;
        padding-bottom: .6rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 300;
        font-size: .8rem;
        line-height: 1.2rem;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 9px;
        font-weight: 300;
        padding-top: .2rem;
        padding-bottom: 3rem;
    }
    
    #card-man2-container {
        width: 100%;
        background-color: white;
        margin-top: -5%;
        padding-top: 0%;
        padding-left: 2%;
        padding-right: 0%;
        padding-bottom: 0px;
    }
    
    #man-pic-container {
    }

    #man-pic {
        width: 236px;
        padding-left: 36px;
    }

    #trigger2 {
        padding-right: 0px;
        background-color: white;
    }

    #ring-grid {
        background-image: url('../svg/endrings-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto;

        background-color: #0F2146;
        height: 70vh;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #endring-bg {
    }    

    #card-ebook-pad {
        padding-left: 0px;
        margin-top: -3rem;
        padding-top: 6rem;
    }

    #card-ebook-container {
        border-color: rgba(0, 0, 0, 0.2);;
        width: 270px;
        left: 29.5%;
        bottom: 10%;
        height: 23rem;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #card-ebook-body {
        margin-top: -16px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: .6rem;
        padding-right: 1rem;
    }

    #card-ebook-h6 {
        font-size: 14px;
        font-weight: 400;
        padding-top: 0px;
        padding-bottom: 1rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 42px;
    }

    #card-ebook-h3-2 {
        font-size: 32px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.4rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        color:#4f5f6c;
        padding-bottom: 1rem;
    }

    #card-ebook-link-container {
        padding-top: 1rem;
    }

    #ebook-text-underline {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        text-underline-position: under;
        color: #1a80ff;
    }

    #ebook-text-underline:hover {
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        font-weight: 400;
    }
    
    #cta-grid {
        margin-top: -460px;
    }

    #card-cta-pic-container {
        margin-top: -130px;
        padding-left: 16.66%;
        padding-top: 6rem;
        padding-bottom: 9rem;
    }

    #card-cta-pic {
    }

    #card-cta-container-mobile {
    }

    #card-cta-mobile {
    }

    #card-cta-pic-container-mobile {
        margin: 0;
        padding: 0;
    }

    #card-cta-pic-mobile {
        width: 1px;
    }

    #card-cta-pic-mobile {
        margin-left: -24px;
        padding-top: 40px;
        padding-left: 0px;
        width: 286px;
    }
   
}
/*_________________________________  END ANDROID 360  ___________________________________*/






