/* Style the navbar */
#navbar {
  overflow: hidden;
}

/*SETUP AND Z-INDEX*/
/*-------------------------------------------------------------------------*/
body {
    font-family: "Rational Text", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EDF5FC;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-weight: 600;
}

li {
    color: #adb8c9;
}

.animation-container,
.spacer-container {
    height: 100vh;
}

.spacer-container.h-50 {
    height: 50vh;
}

.spacer-container.h-100 {
    height: 100vh;
}

.spacer-container.h-200 {
    height: 200vh;
}

.spacer-container.h-300 {
    height: 300vh;
}

.spacer-container.h-400 {
    height: 440vh;
}

.spacer-container.h-500 {
    height: 500vh;
}

.spacer-container.girl-space {
    height: 283vh;
}

.spacer-container.h2-space {
    height: 140vh;
}

.spacer-container.end-space {
    height: 180vh;
}
.spacer-container.hero-space-70 {
    height: 70vh;
}
.spacer-container.hero-space-30 {
    height: 30vh;
}
.spacer-container.hero-space-120 {
    height: 120vh;
}
.spacer-container.hero-space-80 {
    height: 80vh;
}
.spacer-container.hero-space-10 {
    height: 10vh;
}
.spacer-container.hero-space-60 {
    height: 60vh;
}


/* Colors */
.bg-white {
    color: #f5f7f9;
}

.lblue {
    color: #9dd1ff;
}

.blue {
    color: #1a80ff;
}

.nblue {
    color: #4F5F6C;
}

.dblue {
    color: #00216E;
}

.white {
    color: #fff;
}
/* End Colors */

#anim1-container {
    z-index: 20;
}
#scene1-pin {
/*    z-index: 30;*/
}
#scene2-pin {
    z-index: -10;
}
#panels-container {
    z-index: 2200;
}
#hero-container2 {
    z-index: -5;
}

.pinned-element {
    position: absolute;
}


/*_________________________________  MAIN  ___________________________________*/



.hero {
    background-image: url('../img/bg-image_squares.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100% auto;

}

#p-test {
    width: 400px;
}

#p-test2 {
    width: 400px;
}

#flip-today-container {
/*    width: 400px;*/
}

#flip-today {
/*    width: 400px;*/
}

#oGrid {
    width: 325px;
    margin-top: 14%;
}

.hero-container-header {
    padding-top: 19%;
    padding-right: 0px;
    margin-left: 0px;
}

.hero h1 {
    font-size: 64px;
    line-height: 64px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.hero h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 14%;
}

.service {
    padding-left: 12%;
}

.service h1 {
    font-size: 62px;
}



.today {
    padding-left: 0px;
    padding-right: 0px;
}

.today p {
    font-size: 24px;
    padding-bottom: 10%;
    padding-left: 5%;
    margin-right: -46%
}

#osrChart {
    width: 1360px;
/*    width: 50%;*/
}

#osr-container {
    padding-left: 16%;
    padding-top: 7%;
}

#flip-osr-conatainer {
/*        width: 360px;*/
    }
#flip-osr {
/*        width: 360px;*/
    }

.slide-list-container {
    padding-left: 23px;
    padding-top: 0px;
}

#panels {
    width: 623px;
}

#panels-container {
    padding-top: 200px;
    padding-left: 223px;
}

#oGrid2 {
    width: 1060px;
}

#oGrid2-padding {
    padding-left: 112px;
    padding-top: 80px;
    padding-bottom: 0px;
}

#ogrid2-mobile {
    width: 0px;
    height: 0px;
}

#ogrid2-mobile-container {
    padding-left: 0px;
}

#hero-container2 {
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100% auto;
/*    height: 1278px;*/
}

#hero2-img {
/*
    padding-top: 60px;
    max-width: 100% auto;
    width: 1200px;
*/
}

.not-mobile {
    display: block;
}
.only-mobile {
    visibility: hidden;
}

.slide-list {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    list-style-type: none;
}

.slide-list a {
    color: #ADB8C9;
    text-decoration: none;
}

.slide-list a:hover{
    color: #424352;
    text-decoration: none;
}

.slide-list .active a {
    color: #424352;
    pointer-events: none;
    cursor: default;
}

.slide-list.white a {
    color: rgba(255, 255, 255, 0.5);
}

.slide-list.white a:hover {
    color: #ffffff;
}

.slide-list.white .active a {
    color: #ffffff;
}


#first_panel {
    padding-left: 346px;
}

#second_panel {
    padding-left: 346px;
}

#third_panel {
    margin-left: 0px;
}


/*-------------------------------------------------------------------------*/
.card-img {
    margin-top: 46px;
}

.card-img-overlay {
    padding-top: 92px;
}

#card-para {
    background:white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left:-20px;
    margin-right:-20px;
    padding-right: 20px;
    padding-left:20px;
    padding-top: 16px;
    padding-bottom: 40px;
    margin-top: -16px;
}

#card-h6 {
    color: #424352;
    background:none;
    
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    text-align: left;

    margin-left:-20px;
    margin-right:-20px;
    margin-top: -3px;
    padding-top: 20px;
    padding-left:20px;
    padding-bottom: 10px;
}

#panel_1,
#panel_2,
#panel_3 {
    border-radius: 0;
    width: 380px;
    background-color: rgba(255, 255, 255, 1);
    
    background: none;
    margin-top: -70px;
}

#panel1-card-h3 {
    background:white;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
}

#panel1-card-h3-last,
#panel2-card-h3-last {
    background:white;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
}

#panel-card-h3-first {
    background:white;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    margin-top: -10px;
}

#panel-card-h3-second {
    background:white;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
}

#panel-card-h3-third {
    background:white;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -16px;
}



/*  CARD MAN*/
/*-------------------------------------------------------------------------*/
#pin1 {
    background: white;
}

#man-img {

}

#card-man-container {
    padding-top: 20%;
    padding-left: 20%;
}

#card-man2-container {
    padding-top: 28%;
    padding-left: 8%;
}

#card-man {
    width: 560px;  
}

.card-man-h5-1 {
        padding-top: 2rem;
        padding-bottom: .2rem;
        font-size: 40px;
    }
    
.card-man-h5-2 {
        font-size: 40px;
        margin-top: -.7rem;
        padding-bottom: 1rem;
    }

#card-man h6 {
    color:#4f5f6c;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 0px;
    padding-bottom: .6rem;
}

#card-man p {
    color:#4f5f6c;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    padding-top: 8px;
    padding-bottom: .4rem;
}

#card-blockquote {
    font-family: "IBM Plex Mono", monospace;
    color:#4f5f6c;
    font-size: 13px;
    font-weight: 200;
    padding-top: 1.4rem;
}
/*  END CARD MAN*/
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
#endring-bg {
/*    background-image: url('../svg/endrings.svg');*/
    background-color: #0f2146;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    height: 620px;
}

#endring-container {
    padding-right: 0px;
    padding-bottom: 0px;
}

#endring {
    width: 100%;
    height: 100%;
}

/*
#endring-row {
    background-color:#0f2146;
    height: 42px;
}
*/

#trigger2 {
    padding-right: 0px;
}

#card-ebook-container {
    width: 460px;
    height: 23rem;
    padding: 1.4rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

#card-ebook-pad {
    padding-left: 0px;
    padding-top: 7.5rem;
}

#card-ebook-body {
    padding-left: 10px;
}

#card-ebook-h6 {
    font-size: 13px;
    font-weight: 300;
    padding-bottom: .4rem;
    color: #acaaa8;
}

#card-ebook-h3-1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
    color:#0e1871;
    line-height: 42px;
}

#card-ebook-h3-2 {
    font-size: 36px;
    font-weight: 500;
    color: #1A80FF;
    padding-bottom: 1.5rem;
}

#card-ebook-p {
    font-size: 16px;
    font-weight: 200;
    color:#4f5f6c;
    padding-bottom: .6rem;
}

#card-ebook-link-container {
    padding-top: 23px;
}

#ebook-text-underline {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
/*    text-underline-position: auto;*/
/*    text-decoration: none;*/
}

#ebook-text-underline:hover {
    text-decoration: underline;
    text-underline-position: auto;
    color: #00216E;
}

#card-cta-pic-container {
    padding-left: 16.66%;
    padding-top: 5%;
    padding-bottom: 6%;
/*    align-content: center;*/
}

#card-cta-pic {
    width: 80%;
}

#card-cta-container-mobile {
}

#card-cta-mobile {
}

#card-cta-pic-container-mobile {
    margin: 0;
    padding: 0;
}

#card-cta-pic-mobile {
    width: 1px;
}
    

/*_________________________________  1440  ___________________________________*/
@media (max-width: 1440px) {
    
    #hero-container2 {
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100% auto;
/*    height: 978px;*/
}
    
    .spacer-container.girl-space {
        height: 290vh;
    }
    .spacer-container.h2-space {
/*        height: 120vh;*/
    }

    
    
    #oGrid {
        margin-bottom: 120px;
    }
    
    .hero-container-header {
        padding-bottom: 120px;
    }

    .hero h1 {
        font-size: 60px;
        line-height: 56px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        padding-left: 160px;
    }
    
    .service {
        padding-left: 70px;
        padding-bottom: 30px;
    }

    .service h1 {
        font-size: 62px;
    }

    .today {
        padding-left: 20px;
        padding-right: 0px;
    }

    .today p {
        padding-bottom: 10%;
    }
    
    .slide-list-container {
        padding-left: 23px;
        padding-top: 0px;
    }
    
    #osr-container {
        padding-left: 223px;
        padding-top: 146px;
    }
    
    #osrChart {
        width: 1260px;
    }

    #panels {
        width: 623px;
    }
    
    #panels-container {
        padding-top: 220px;
        padding-left: 192px;
    }
    
    #oGrid2 {
        width: 980px;
    }

    #oGrid2-padding {
        padding-left: 80px;
        padding-bottom: 32px;
    }


}


/*_________________________________  1280  ___________________________________*/
@media (max-width: 1280px) {
 
    #hero-container2 {
        background-image: url('../img/bg-image2.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
/*    height: 1278px;*/
}
    .spacer-container.girl-space {
        height: 330vh;
    }
    .spacer-container.h2-space {
        height: 20vh;
    }
    
    #oGrid {
        margin-bottom: 80px;
    }
    
    .hero-container-header {
        padding-bottom: 80px;
    }

    .hero h1 {
        font-size: 52px;
        line-height: 50px;
        padding-left: 68px;
    }

    .hero h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        padding-left: 146px;
    }
    
    .service {
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .service h1 {
        font-size: 62px;
    }

    .today {
        padding-left: 30px;
        padding-right: 0px;
    }

    .today p {
        padding-bottom: 10%;
    }
    
    .slide-list-container {
        padding-left: 23px;
        padding-top: 0px;
    }
    
    #osr-container {
        padding-left: 266px;
        padding-top: 126px;
    }
    #osrChart {
        width: 1160px;
/*        width: 50%;*/
/*
        max-width: 100%;
        height: auto;
*/
    }

    #panels-container {
        padding-top: 216px;
        padding-left: 192px;
    }
    
    #panels {
        width: 582px;
    }
    
    #oGrid2 {
        width: 900px;
    }

    #oGrid2-padding {
        padding-left: 88px;
        padding-bottom: 0px;
        padding-top: 70px;
    }

    
}
 

/*_________________________________  992  ___________________________________*/
@media (max-width: 992px) {
}
/*_________________________________  768  ___________________________________*/
@media (max-width: 768px) {
}
/*_________________________________  576  ___________________________________*/
@media (max-width: 576px) {
}

/*_________________________________  PHONE 420  ___________________________________*/
@media screen and (max-width: 420px) {
    
    .not-mobile {
        display: block;
        visibility: hidden;
    }
    .only-mobile {
        display: block;
        visibility: visible;
    }

    .hero {
        background-image: url('../img/bg-image-mobile.jpg');
        background-size: cover;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        max-width: 100% auto;
    }
    
    #oGrid {
        margin-bottom: 0;
        margin-top: 100%;
/*        margin-left: 2%;*/
        padding: 0px;
        width: 240px;
    }
    
    .hero-container-header {
        padding-top: 20%;
        padding-right: 0px;
        margin-right: 0px;
    }

    .hero h1 {
        font-size: 42px;
        line-height: 42px;
        padding-left: 0%;
        margin-right: 0px;

    }

    .hero h2 {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 10%;
    }
    
    #service-h1-container {
        padding-bottom: 20%;
        margin-top: -20%;
    }
    
    .service {
        padding-left: 0%;
        padding-bottom: 200px;
    }

    .service h1 {
        font-size: 56px;
        line-height: 52px;

    }
    
    #flip-today-container {
        padding-left: 0px;
    }
    
    #flip-today {
        width: 400px;
        padding-left: 0px;
    }
    
    .today {
        margin-right: 0%;
        padding-right: 0px;
    }

    .today p {
        font-size: 16px;
        padding-bottom: 10%;
        padding-left: 2%;
        padding-right: 0%;
    }
    
    .slide-list {
        display: none;
    }
    
    #flip-osr-container {
        padding-top: 0px;
    }
    
    #flip-osr {
        width: 460px;
    }
    
    #osr-container {
        margin-left: 38%;
        margin-top: 100%;
        padding-top: 100%;
    }
    
    #osrChart {
        padding-top: 46px;
        width: 486px;
    }
    
    #oGrid2-padding {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #oGrid2 {
        width: 0px;
        height: 0px;
    }

    #ogrid2-mobile-container {
        padding-left: 0px;
        margin-top: -40px;
    }
    
    #ogrid2-mobile {
        width: 360px;
    }
    
    #hero-container2 {
        background-image: url('../img/bg-image2-m.jpg');
        }

    
    /*_________________________________  PANELS  ___________________________________*/
/*
    #first_panel {
        padding-left: 0px;
        padding-right: 40px;
    }

    #second_panel {
        padding-left: 132px;
    }

    #third_panel {
        margin-left: 31px;
    }
    
    #panel_1,
    #panel_2,
    #panel_3 {
        border-radius: 0;
        width: 360px;
        background-color: rgba(255, 255, 255, 1);

        background: none;
        margin-top: -70px;
    }

    #panel1-card-h3 {
        background:white;
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
    }

    #panel1-card-h3-last,
    #panel2-card-h3-last {
        background:white;
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
    }

    #panel-card-h3-first {
        background:white;
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        margin-top: -10px;
    }

    #panel-card-h3-second {
        background:white;
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
    }

    #panel-card-h3-third {
        background:white;
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: -16px;
    }
    
        .card-img {
        margin-top: 46px;
    }

    .card-img-overlay {
        padding-top: 92px;
    }

    #card-para {
        background:white;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-left:-20px;
        margin-right:-20px;
        padding-right: 20px;
        padding-left:20px;
        padding-top: 16px;
        padding-bottom: 40px;
        margin-top: -16px;
    }

    #card-h6 {
        color: #424352;
        background:none;

        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        text-align: left;

        margin-left:-20px;
        margin-right:-20px;
        margin-top: -3px;
        padding-top: 20px;
        padding-left:20px;
        padding-bottom: 10px;
    }
*/
    /*_________________________________  END PANELS  ___________________________________*/
    
    /*  START CARD MAN 420 */
/*-------------------------------------------------------------------------*/
    
    #pin1 {
    background: white;
    }
    
    #card-man-row {
        padding: 0px
    }

    #card-man-container {
        margin-left: 0px;
        padding-top: 5%;
        padding-left: 0%;
/*        padding-right: 15%;*/
    }
    
    #card-man {
        padding-left: 0px;
        width: 340px;  
    }

    .card-man-h5-1 {
        padding-top: 4rem;
        padding-bottom: .2rem;
        font-size: 26px;
    }
    
    .card-man-h5-2 {
        font-size: 26px;
        line-height: 26px;
        margin-top: -.7rem;
        padding-bottom: 1rem;
    }

    #card-man h3 {
        font-size: 1.2rem;
        color: #1A80FF;
        line-height: 1.4rem;
        padding-bottom: 1.2rem;
    }

    #card-man h6 {
        color:#4f5f6c;
        font-weight: 200;
        font-size: 1.2rem;
        margin-bottom: 0px;
        padding-bottom: .6rem;
    }

    #card-man p {
        color:#4f5f6c;
        font-weight: 200;
        font-size: .8rem;
        line-height: 1rem;
        padding-top: 8px;
        padding-bottom: .4rem;
    }

    #card-blockquote {
        font-family: "IBM Plex Mono", monospace;
        color:#4f5f6c;
        font-size: 9px;
        font-weight: 200;
        padding-top: 1.4rem;
    }
    
    #card-man2-container {
        width: 100%;
        padding-top: 0%;
        padding-left: 4%;
        padding-right: 0%
    }
    
    #man-pic-container {
    }

    #man-pic {
        width: 246px;
        padding-left: 10%;
    }

    /*  END CARD MAN 420 */
/*-------------------------------------------------------------------------*/
    /*  START END SCREEN 420 */
/*-------------------------------------------------------------------------*/
    
    #endring-bg {
        background-image: url('../svg/endrings.svg');
        background-color: #0f2146;
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto;
        height: 420px;
    }

    #trigger2 {
        padding-right: 0px;
    }

    #endring {
/*        width: 292px;*/
    }

    #endring-container {
        padding-right: 0px;
    }
    
    #endring-row {
        background-color:#0f2146;
        height: 42px;
    }

    #card-ebook-pad {
        padding-top: 12%;
        padding-left: 4%;
        padding-right: 0%;
        height: 640px;
    }

    #card-ebook-container {
        width: 92%;
        margin-right: 8%;
        padding-top: 10px;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 10px;
    }

    #card-ebook-h6 {
        font-size: 13px;
        font-weight: 300;
        padding-bottom: .4rem;
        color: #acaaa8;
    }

    #card-ebook-h3-1 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 0px;
        color:#0e1871;
        line-height: 34px;
    }

    #card-ebook-h3-2 {
        font-size: 28px;
        font-weight: 500;
        color: #1A80FF;
        padding-bottom: 1.5rem;
    }

    #card-ebook-p {
        font-size: 14px;
        font-weight: 200;
        color:#4f5f6c;
        padding-bottom: .6rem;
    }

    #ebook-text-underline {
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 14px;
    /*    text-underline-position: auto;*/
    /*    text-decoration: none;*/
    }

    #card-ebook-link-container {
        padding-top: 23px;
    }
    
    #ebook-text-underline:hover {
        text-decoration: underline;
        text-underline-position: auto;
        font-size: 14px;
    }

    /*COVERS UP MAN DIV*/
  
    #card-cta-container {
    }
    
    #card-cta {
    }
    
    #card-cta-pic-container {
/*        width: 1400px;*/
    }
    
    #card-cta-pic {
        width: 0%;
    }

    #card-cta-container-mobile {
/*        width: 100px;*/
    }
    
    #card-cta-mobile-mobile {
/*        width: 100px;*/
    }
    
    #card-cta-pic-container-mobile {
/*
        margin: 0px;
        padding: 0px;
*/
    }
    
    #card-cta-pic-mobile {
        width: 1px;
    }
    
    /*  END END SCREEN 420 */
/*-------------------------------------------------------------------------*/



/*_________________________________  END PHONE 420  ___________________________________*/
  }  
/*_________________________________  END PHONE 420  ___________________________________*/







