#firstframe {
    padding-bottom: 239px;
/*    padding-left: 86px;*/
}

#space1 {
    height: 20vh;
    background-color: white;
}

/*-------------------------------------------------------------------------*/
#card {
/*    background-color: aqua;*/
/*    border-radius: 0 !important;*/
    padding-bottom: 0px;
}

#card_top {
    background-color: chocolate;
    padding: 0px;
}

#panel_1,
#panel_2,
#panel_3 {
    border-radius: 0;
}

#panel_temp {
    opacity: 0;
}

#panel_intro {
    font-size: .9rem;
}

#image_num_1_container {
    text-align: right;
/*    background-color: indianred;*/
}

#image_num_1 {
    width: 20%;
    text-align: right;
}


/*-------------------------------------------------------------------------*/
#man-row-one {
    background-color: white;
}

#man-row-one-col-two {
    padding-left: 100px;
    padding-top: 100px;
}

#man-row-one-col-three {
    padding-left: 80px;
}

#man-row-one-col-three img {
    padding-right: 10px;
    padding-bottom: 200px;
    padding-top: 100px;
    max-width: 420px;
}

#card-blockquote {
    font-family: "IBM Plex Mono", monospace;
}


#card-man {
    
}



/*-------------------------------------------------------------------------*/
#sunring-bg {
    background-image: url('../img/endscreen46.png');
    background-color: #0f2146;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

#sunring-bg-row-one {
    height: 100vh;
    max-height: 596px;
}

#sunring-bg-row-one-col-one {
/*
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 150px;
    padding-bottom: 10px;
*/
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 0px;
}

#sunrise-card {
    padding: 1.4rem;
}

#sunring-bg-row-one-col-two {
    padding-left: 0px
}

#sunring-bg-row-one-col-three {
}

/*-------------------------------------------------------------------------*/
#lastscreen {
/*    background-color: rgba(255, 255, 255, 0.3);*/
        background-color: white;
}

#lastscreen-col-one {
    text-align: center;
}

#lastscreen-col-two {
    text-align: center;
}

#lastscreen-col-two  {
    
    text-align: center;
    
    padding-right: 10px;
    padding-left 100px;
    padding-bottom: 100px;
    
/*    max-width: 1000px;*/
    
    padding-top: 160px;
    padding-bottom: 160px
}

#lastscreen-col-three {
    text-align: center;
}


/*-------------------------------------------------------------------------*/
#service {
    padding-left: 18%;
}

#osrChart {
/*    padding-right: 42%*/
    
    background-size: cover;
    background-repeat: no-repeat;
}

#osrContainer {
/*    background-color: rgba(0,0,255,0.3);*/
/*    padding-right: 14%;*/
/*    padding-right: 42%*/
}


#left-bullets {
/*    background-color: yellow;*/
/*    width: 44%;*/
}


#endscreen-image {
    background-image: url('../img/endscreen1.png');
}

#oGrid2 {
/*    padding-right: 124px;*/
/*    padding-bottom: 84px;*/
}

/* Colors */
.lblue {
    color: #9dd1ff;
}

.blue {
    color: #1a80ff;
}

.nblue {
    color: #4F5F6C;
}

.dblue {
    color: #00216E;
}

.white {
    color: #fff;
}

/* End Colors */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDF5FC;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-weight: 600;
}

#text-underline {
    text-decoration: underline;
    text-underline-position: auto;
}

.divider {
    padding: 1px;
    margin: 10px 0;
}

.divider.top {
    border-top: 1px solid #f9f9f9;
}

.divider.bot {
    border-bottom: 1px solid #f9f9f9;
}

#panels {
/*    padding-left: 23px;*/
/*    align-content: left;*/
}

.slide-list {
    color: #ADB8C9;
    font-weight: 500;
    
    font-size: 18px;
    
/*    width: 100%;*/
    text-align: left;
    padding-left: 38%;
    padding-top: 10px;
/*    padding-left: 53%;*/
    
}

.slide-list .active {
    color: #424352;
}

.slide-list.white {
    color: rgba(255, 255, 255, 0.5);
}

.slide-list.white .active {
    color: #ffffff;
}

.slide-body-wrapper {
/*    height: 280px;*/
}

.slide-content .slide {
    display: none;
}

.slide-content .slide.active {
    display: block;
}

.slide-indicators i {
    font-size: 12px;
    margin: 0 10px;
    color: #dfdfdf;
}

.slide-indicators i.active {
    color: #8192AC;
}

.animation-container,
.spacer-container {
    height: 100vh;
}

.spacer-container.h-200 {
    height: 200vh;
}

.spacer-container.h-300 {
    height: 300vh;
}

.spacer-container.h-400 {
    height: 400vh;
}

.spacer-container.h-500 {
    height: 500vh;
}

.hero {
    background-image: url('../img/bg-image.jpg');
/*    background-size: cover;*/
    background-size:100% auto;
    background-repeat: no-repeat;
/*  GOOD PROPERTY !!!!!!!!!!!!  --------------------------------------*/
    background-position: top center;
    max-width: 100% auto;
/*  GOOD PROPERTY !!!!!!!!!!!!  --------------------------------------*/
    height: 982px;
}

#hero-container2 {
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 65px;
}

.hero h2 {
    font-size: 32px;
    font-weight: 400;
}

#scene1-pin h1 {
    font-size: 62px;
}

#scene1 p {
    font-size: 26px;
}

.pinned-element {
    position: absolute;
}

.benefit {
    background: #ffffff;
    padding: 15px;
}

.benefit h5 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 5px;
}